<h2 mat-dialog-title>
  Nueva Venta
</h2>

<mat-dialog-content>

  <form [formGroup]="ventaForm">

    <mat-form-field appearance="outline">

      <mat-label>Producto</mat-label>

      <mat-select formControlName="productId">

        <mat-option
          *ngFor="let producto of data.productos"
          [value]="producto.id"
        >

          {{ producto.nombre }}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <div
      *ngIf="productoSeleccionado"
    >

      <p>
        <strong>Precio:</strong>
        C$ {{ productoSeleccionado.precio }}
      </p>

      <p>
        <strong>Stock disponible:</strong>
        {{ productoSeleccionado.stock }}
      </p>

      <hr>
      
    </div>

    <mat-form-field appearance="outline">

      <mat-label>Cantidad</mat-label>

      <input
        matInput
        type="number"
        formControlName="cantidad"
      >

    </mat-form-field>

    <div>

      <h3>
        Total:
        C$ {{ total }}
      </h3>

    </div>

    <div
      *ngIf="
        productoSeleccionado &&
        ventaForm.value.cantidad >
        productoSeleccionado.stock
      ">

      <p style="color:red">

        Stock insuficiente

      </p>

    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-button
    mat-dialog-close
  >
    Cancelar
  </button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!puedeGuardar"
    (click)="guardar()">
    Guardar
  </button>

</mat-dialog-actions>